/*body*/
body{
	margin:0 auto;
	overflow-y:scroll;
	font-size:14px;

	font-family:"San Francisco", -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
	/*provant*/
	font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
}

/*h1,h2,h3*/
h1,h2,h3{font-weight:normal}
h1{font-size:18px}
h2{font-size:17px}
h3{font-size:15px}

/*parrafs*/
p{
	text-align:justify;
	padding-right:10px;
	max-width:50em;
}

/*unsorted lists*/
ul{
	margin:0;
	padding-left:25px;
}
ul.invisible {display:none}

li{
	margin-top:0.5em;
	margin-bottom:0.5em;
	text-align:justify;
	max-width:50em;
	padding-right:10px;
}

/*table*/
table{border-collapse:collapse}
th{font-weight:normal}
th,td{border:1px solid #ccc}

/*misc*/
hr{border:none;border-bottom:1px solid #ccc}
a{text-decoration:none}
a:hover{text-decoration:underline}

/*per titols navegables*/
span[onclick]{cursor:pointer}
span[onclick]:hover{text-decoration:underline}

/*CLASSES*/

/*classe general*/
.flex{
	display:flex;
	flex-wrap:wrap;
}
/*descripcions casos, partits i empreses i relacions*/
.descripcio{
	color:#111;
	font-size:11px;
	margin-top:6px;
}
/*quan el valor val 'empty string' posa el text més clar*/
.blanc{
	font-style:italic;
	color:#aaa;
	font-size:11px;
}
/*euros, nombre de persones, etc*/
.numero {
	text-align:right;
}
/*classe per fer més curtes les descripcions*/
.nowrap { 
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	transition:all 0.5s;
	cursor:pointer;
}

/*MEDIA QUERIES*/

/*treu bordes de les taules a portrait*/
@media only screen and (max-width:560px) { 
	table {
		width:100%;
	}
	th,td {
		border-left:none;
		border-right:none;
		padding-top:1em;
		padding-bottom:1em;
	}
}
