/*body*/
body{
	margin:0 auto;
	overflow-y:scroll;
	font-size:14px;
	font-family:'Lucida Grande',helvetica,arial,verdana,sans-serif;
}

h1{
	font-size:18px;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	font-weight:normal;
}
h2{
	font-size:17px;
	font-weight:normal;
}
h3{
	font-size:15px;
	font-weight:normal;
}

/*parrafs*/
p{
	text-align:justify;
	padding-right:10px;
	max-width:50em;
}

/*unsorted lists*/
ul{
	margin:0;
	list-style:none;
	padding-left:0;
}
ul.invisible {
	display:none;
}

li{
	margin-top:0.5em;
	margin-bottom:0.5em;
	max-width:60em;
	padding-right:10px;
}

li.item {
	padding:0.7em;
	border-bottom:1px solid #ddd;
	margin:0;
}

li.item:nth-child(odd) {
	background:#f8f8f8;
}

/*tables*/
table{border-collapse:collapse}
tr:nth-child(odd){
	background:#f8f8f8;
}
th{font-weight:normal}
th,td{
	border:1px solid #ccc;
	padding:2px;
}

/*misc*/
hr{border:none;border-bottom:1px solid #ccc}
a{text-decoration:none}
a:hover{text-decoration:underline}

/*per titols navegables*/
span[onclick]{cursor:pointer}
span[onclick]:hover{text-decoration:underline}

/*ROOT div*/
#root {
	margin-bottom:100px;
}

/*controls per edit mode (button,select,form)*/
.update {
	background:linear-gradient(#666,#888);
	color:white;
	text-shadow:0 1px 0 #000;
	border-radius:0px;
}

/*CLASSES*/

/*classe general*/
.flex{
	display:flex;
	flex-wrap:wrap;
}
/*descripcions casos, partits i empreses i relacions*/
.descripcio{
	color:#111;
	font-size:11px;
	margin-top:6px;
}
/*quan el valor val 'empty string' posa el text més clar*/
.blanc{
	font-style:italic;
	color:#aaa;
	font-size:11px;
}
/*euros, nombre de persones, etc*/
.numero {
	text-align:right;
}
/*classe per fer més curtes les descripcions*/
.nowrap { 
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	transition:all 0.5s;
	cursor:pointer;
}

/*MEDIA QUERIES*/

/*posa marge a <div id=root> si no portrait*/
@media only screen and (min-width:560px) { 
	#root {
		margin-left:10px;
		margin-right:5px;
	}
}

/*tables no border a portrait*/
@media only screen and (max-width:560px) { 
	table {
		width:100%;
	}
	th,td {
		border-left:none;
		border-right:none;
		padding-top:1em;
		padding-bottom:1em;
	}
}
